<aside class="aside-portrait">
    <h3 class="title title-outline">
        Більше портретів
    </h3>
    <ul class="aside-portrait__list">
        <% if(asidePortraits.length) { %>
            <% asidePortraits.forEach(item => { %>
            <li class="aside-portrait__item">
                <a href="/portrait/<%= item.url %>" class="aside-portrait__image">
                    <img class="lazyload" data-src="<%= item.avatar %>" alt="<%= item.name %>">
                </a>
                <div class="aside-portrait__content">
                    <a href="/portrait/<%= item.url %>" class="aside-portrait__name"><%= item.name %></a>
                    <p class="aside-portrait__profession"><%= item.position %></p>
                </div>
            </li>
            <% }) %>
        <% } else { %>
            <span class="error-message">Немає більше доданих портретів :(</span>
        <% } %>
    </ul>
</aside>